<!-- 
Imagine that the design spec calls for a green button, but only on this one particular page.

Under normal circumstances, it would be preferable to extend our Button component's API to allow for
a green "color" configuration, but there are some cases where adding an extra configuration option
to a component just to accommodate one unique use case would be unfeasible or inconvenient.

Using our imagination to pretend that this is one of those one-off cases, let's see what happens
when we try to override the styling for each variety of our component.
-->


<!-- For reference, we'll first add some buttons that don't require any style overrides. -->
<h3>Blue Buttons</h3>
<app-button-enc>
	Encapsulated
</app-button-enc>

<app-button-unenc>
	Unencapsulated
</app-button-unenc>

<button app-button-enc-host>
	Encapsulated (Host)
</button>

<button app-button-unenc-host>
	Unencapsulated (Host)
</button>


<h3>Red Buttons</h3>
<app-button-enc color="red">
	Encapsulated
</app-button-enc>

<app-button-unenc color="red">
	Unencapsulated
</app-button-unenc>

<button app-button-enc-host color="red">
	Encapsulated (Host)
</button>

<button app-button-unenc-host color="red">
	Unencapsulated (Host)
</button>


<!-- Now we'll add our custom green buttons, with some custom classes to work with. -->
<h3>(Custom) Green Buttons</h3>
<app-button-enc class="green-button--non-host--encapsulated">
	Encapsulated
</app-button-enc>

<app-button-unenc class="green-button--non-host">
	Unencapsulated
</app-button-unenc>

<button app-button-enc-host class="green-button--encapsulated">
	Encapsulated (Host)
</button>

<button app-button-unenc-host class="green-button">
	Unencapsulated (Host)
</button>